@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
}
:root {
  --clr-seaweed: #177e89;
  --clr-green: #084c61;
  --clr-red: #db3a34;
  --clr--yellow: #ffc857;
  --clr-jet: #323031;
  --clr-white: #fffafa;
  --clr-black: #383838;
  --box-shadow: 0px 22px 12px rgba(0, 0, 0, 0.15);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--clr-white);
}

/* global css */
img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
